<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="Home"></ion-icon>
      <ion-label class="lab">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label class="lab">Signs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="settings"></ion-icon>
      <ion-label class="lab">Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
