<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="ios">
      Signs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card mode="ios" class="card">
    <h3 class="cal1">Look Up Your Sun Sign</h3>
    <ion-item>
      <ion-label>Day *</ion-label>
      <ion-select placeholder="Select One" value="31" [(ngModel)]="date">
        <ion-select-option value="01">01</ion-select-option>
        <ion-select-option value="02">02</ion-select-option>
        <ion-select-option value="03">03</ion-select-option>
        <ion-select-option value="04">04</ion-select-option>
        <ion-select-option value="05">05</ion-select-option>
        <ion-select-option value="06">06</ion-select-option>
        <ion-select-option value="07">07</ion-select-option>
        <ion-select-option value="08">08</ion-select-option>
        <ion-select-option value="09">09</ion-select-option>
        <ion-select-option value="10">10</ion-select-option>
        <ion-select-option value="11">11</ion-select-option>
        <ion-select-option value="12">12</ion-select-option>
        <ion-select-option value="13">13</ion-select-option>
        <ion-select-option value="14">14</ion-select-option>
        <ion-select-option value="15">15</ion-select-option>
        <ion-select-option value="16">16</ion-select-option>
        <ion-select-option value="17">17</ion-select-option>
        <ion-select-option value="18">18</ion-select-option>
        <ion-select-option value="19">19</ion-select-option>
        <ion-select-option value="20">20</ion-select-option>
        <ion-select-option value="21">21</ion-select-option>
        <ion-select-option value="22">22</ion-select-option>
        <ion-select-option value="23">23</ion-select-option>
        <ion-select-option value="24">24</ion-select-option>
        <ion-select-option value="25">25</ion-select-option>
        <ion-select-option value="26">26</ion-select-option>
        <ion-select-option value="27">27</ion-select-option>
        <ion-select-option value="28">28</ion-select-option>
        <ion-select-option value="29">29</ion-select-option>
        <ion-select-option value="30">30</ion-select-option>
        <ion-select-option value="31">31</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Month *</ion-label>
      <ion-select placeholder="Select One" value="12" [(ngModel)]="months">
        <ion-select-option value="01">January</ion-select-option>
        <ion-select-option value="02">February</ion-select-option>
        <ion-select-option value="03">March</ion-select-option>
        <ion-select-option value="04">April</ion-select-option>
        <ion-select-option value="05">May</ion-select-option>
        <ion-select-option value="06">June</ion-select-option>
        <ion-select-option value="07">July</ion-select-option>
        <ion-select-option value="08">August</ion-select-option>
        <ion-select-option value="09">September</ion-select-option>
        <ion-select-option value="10">October</ion-select-option>
        <ion-select-option value="11">November</ion-select-option>
        <ion-select-option value="12">December</ion-select-option>
      </ion-select>
    </ion-item>
  
<div class="but">
  <ion-item color="#393E46" class="cent" lines="none">
    <ion-button expand="block" (click)="select_dropdown_value()">Submit</ion-button>
  </ion-item>
</div>
  
  <ion-item class="cent" color="#393E46" lines="none">
      <h3 class="cal1">Your Sun Sign is: {{showMessage}}</h3>
  </ion-item>
</ion-card>

<ion-card  mode="ios">
  <ion-item>
    <h3 class="bold">Signs Characteristics</h3>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img (click)="openModal(1)" src="https://image.flaticon.com/icons/svg/450/450947.svg">
        <ion-label class="cent"><p>Aquarius</p></ion-label>
      </ion-col>
      <ion-col>
        <img (click)="openModal(2)" src="https://image.flaticon.com/icons/svg/450/450938.svg">
        <ion-label class="cent"><p>Pisces</p></ion-label>
      </ion-col>
      <ion-col>
        <img (click)="openModal(3)" src="https://image.flaticon.com/icons/svg/450/450942.svg">
        <ion-label class="cent"><p>Aries</p></ion-label>
      </ion-col>
      <ion-col>
        <img (click)="openModal(4)" src="https://image.flaticon.com/icons/svg/450/450944.svg">
        <ion-label class="cent"><p>Taurus</p></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid> 
  <!--second grid  --> 
  <ion-grid>
    <ion-row>
      <ion-col>
        <img (click)="openModal(5)" src="https://image.flaticon.com/icons/svg/450/450948.svg">
        <ion-label class="cent"><p>Gemini</p></ion-label>
      </ion-col>
      <ion-col>
        <img (click)="openModal(6)" src="https://image.flaticon.com/icons/svg/450/450940.svg">
        <ion-label class="cent"><p>Cancer</p></ion-label>
      </ion-col>
      <ion-col>
        <img (click)="openModal(7)" src="https://image.flaticon.com/icons/svg/450/450946.svg">
        <ion-label class="cent"><p>Leo</p></ion-label>
      </ion-col>
      <ion-col>
        <img (click)="openModal(8)" src="https://image.flaticon.com/icons/svg/450/450939.svg">
        <ion-label class="cent"><p>Virgo</p></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--third grid-->
  <ion-grid>
    <ion-row>
      <ion-col>
        <img (click)="openModal(9)" src="https://image.flaticon.com/icons/svg/450/450941.svg">
        <ion-label class="cent"><p>Libra</p></ion-label>
      </ion-col>
      <ion-col>
        <img (click)="openModal(10)" src="https://image.flaticon.com/icons/svg/450/450937.svg">
        <ion-label class="cent"><p>Scorpio</p></ion-label>
      </ion-col>
      <ion-col>
        <img (click)="openModal(11)" src="https://image.flaticon.com/icons/svg/450/450936.svg">
        <ion-label class="cent"><p>Saggitarius</p></ion-label>
      </ion-col>
      <ion-col>
        <img (click)="openModal(12)" src="https://image.flaticon.com/icons/svg/450/450943.svg">
        <ion-label class="cent"><p>Capricorn</p></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>




</ion-content>