
.cal{
  color: #EEEEEE;
}
.cal1{
  color: black;
  text-align: center;
  font-weight: bold;
}
.cent{
  text-align: center;
}

.bold{
  font-weight: bold;
  
}

.card{
  padding: 20px;
}
p{
  color: black
}

.but{
  width: 100%;
  text-align: center;
}








