<ion-header [translucent]="true">
  <ion-toolbar mode="md">
    <ion-title mode="ios">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div *ngIf="skeletonData">
  <ion-item lines="none" color="#393E46">
    <h4 mode="ios" class="ngj">
      Horoscope : {{current_date}}
    </h4>
    <ion-icon slot="end" name="reader"></ion-icon>
  </ion-item>

  <ion-card mode="md">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://image.flaticon.com/icons/svg/450/450947.svg">
      </ion-thumbnail>
      <ion-label>
        <h2>AQUARIUS : {{aq_range}}</h2>
        <p class="k">{{aq_description}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Today Compatibility: {{aq_comp}}</ion-label>
      
    </ion-item>
  </ion-card>

  <ion-card mode="md">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://image.flaticon.com/icons/svg/450/450938.svg">
      </ion-thumbnail>
      <ion-label>
        <h2>PISCES : {{pisc_range}}</h2>
        <p class="k">{{pisc_description}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Today Compatibility: {{pisc_comp}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card mode="md">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://image.flaticon.com/icons/svg/450/450942.svg">
      </ion-thumbnail>
      <ion-label>
        <h2>ARIES : {{aries_range}}</h2>
        <p class="k">{{aries_description}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Today Compatibility: {{aries_comp}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card mode="md">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://image.flaticon.com/icons/svg/450/450944.svg">
      </ion-thumbnail>
      <ion-label>
        <h2>TAURUS : {{taurus_range}}</h2>
        <p class="k">{{taurus_description}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Today Compatibility: {{taurus_comp}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card mode="md">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://image.flaticon.com/icons/svg/450/450948.svg">
      </ion-thumbnail>
      <ion-label>
        <h2>GEMINI : {{gemini_range}}</h2>
        <p class="k">{{gemini_description}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Today Compatibility: {{gemini_comp}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card mode="md">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://image.flaticon.com/icons/svg/450/450940.svg">
      </ion-thumbnail>
      <ion-label>
        <h2>CANCER : {{canc_range}}</h2>
        <p class="k">{{canc_description}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Today Compatibility: {{canc_comp}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card mode="md">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://image.flaticon.com/icons/svg/450/450946.svg">
      </ion-thumbnail>
      <ion-label>
        <h2>LEO : {{leo_range}}</h2>
        <p class="k">{{leo_description}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Today Compatibility: {{leo_comp}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card mode="md">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://image.flaticon.com/icons/svg/450/450939.svg">
      </ion-thumbnail>
      <ion-label>
        <h2>VIRGO : {{virgo_range}}</h2>
        <p class="k">{{virgo_description}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Today Compatibility: {{virgo_comp}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card mode="md">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://image.flaticon.com/icons/svg/450/450941.svg">
      </ion-thumbnail>
      <ion-label>
        <h2>LIBRA : {{libra_range}}</h2>
        <p class="k">{{libra_description}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Today Compatibility: {{libra_comp}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card mode="md">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://image.flaticon.com/icons/svg/450/450937.svg">
      </ion-thumbnail>
      <ion-label>
        <h2>SCORPIO : {{scorpio_range}}</h2>
        <p class="k">{{scorpio_description}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Today Compatibility: {{scorpio_comp}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card mode="md">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://image.flaticon.com/icons/svg/450/450936.svg">
      </ion-thumbnail>
      <ion-label>
        <h2>SAGITTARIUS : {{sag_range}}</h2>
        <p class="k">{{sag_description}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Today Compatibility: {{sag_comp}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card mode="md">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://image.flaticon.com/icons/svg/450/450943.svg">
      </ion-thumbnail>
      <ion-label>
        <h2>CAPRICORN : {{cap_range}}</h2>
        <p class="k">{{cap_description}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Today Compatibility: {{cap_comp}}</ion-label>
    </ion-item>
  </ion-card>
</div>




<!-- Skeleton text-->

  <div  *ngIf="!skeletonData">
    <div class="padding custom-skeleton">
      <ion-card mode="md">
        <ion-item>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h2>
              <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text animated style="width: 96%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
              <ion-skeleton-text animated></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 89%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 82%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 89%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 92%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
         
      </ion-card>
    </div>

    <div class="padding custom-skeleton">
      <ion-card mode="md">
        <ion-item>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h2>
              <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text animated style="width: 96%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
              <ion-skeleton-text animated></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 89%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 82%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 89%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 92%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
         
      </ion-card>
    </div>

    <div class="padding custom-skeleton">
      <ion-card mode="md">
        <ion-item>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h2>
              <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text animated style="width: 96%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
              <ion-skeleton-text animated></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 89%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 82%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 89%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 92%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
         
      </ion-card>
    </div>

    <div class="padding custom-skeleton">
      <ion-card mode="md">
        <ion-item>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h2>
              <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text animated style="width: 96%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
              <ion-skeleton-text animated></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 89%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 82%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 89%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 92%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
         
      </ion-card>
    </div>

  </div>







</ion-content>