ion-content ion-toolbar {
  --background: translucent;
}


.ngj{
  color: #EEEEEE;
}

.k{
  overflow: visible;
  white-space: initial;
  color: black;
  font-size: 1em;
}

h2{
  font-weight: bold;
}

