<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="closeModal()" slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">{{title}} Characteristics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="fotoLoading">
    <ion-card  class="card">
    <img [src]="foto"/>
    <ion-label class="desc">
      <p class="k">{{description}}</p>
    </ion-label>
  </ion-card>
  </div>

  <div *ngIf="!fotoLoading">
    <ion-card  class="card1">
      <ion-spinner name="crescent"></ion-spinner>
      <ion-label class="desc">
        <p class="k">{{description}}</p>
      </ion-label>
    </ion-card>
  </div>
  

</ion-content>
