.card{
    padding: 15px;
    height: auto;
}
.k{
    overflow: visible;
    white-space: initial;
    color: black;
    font-size: 1em;
    text-align:justify;
  }
  .k:after {
    content:'';
    display:inline-block;
    width:100%;
    vertical-align:top;
    }
  .desc{
      padding-top: 15px;
  }
  
  img{
      border-radius: 2%;
  }

  .card1{
      text-align: center;
  }

ion-spinner{
    padding-top: 100px;
    padding-bottom: 100px;
}
