.card{
    padding: 15px;
    height: auto;
}
.k{
    overflow: visible;
    white-space: initial;
    color: black;
    font-size: 1em;
  }
  .desc{
      padding-top: 15px;
  }
  
  img{
      border-radius: 2%;
  }